

* {
  text-decoration: none;
}


main {

  padding-top: 115px;
/*
  background-image: url("../resources/img/linedpaper.png");
*/
  /*
  background-color: white;
  */
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 115px;
}

header .header-brand {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 550;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
display: block;
margin: 0 auto;
width: fit-content;
}
header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px 16px;
}

header nav ul li a {
  font-family: "Playfair Display";
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

header .header-cases {
  display: none;
}

header img {
  width: 80px;
  height: 70px;
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}


@media only screen and (min-width: 622px) {
  header {
    height: 100px;
  }

header img {
  padding-top: 16px;
}

}

@media only screen and (min-width: 1000px) {
  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }

  header nav ul {
  margin: 20px 0px 0px 20px;
  float: left;
  }


  header nav ul li a {
    line-height: 60px;
}

header .header-cases {
  display: block;
  font-family: Catamaran;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  line-height: 38px;
  border: 1px solid #111;
  float: right;
  margin-right: 40px;
  margin-top: 30px;
  padding: 0 20px;
}
}

/* Main */

.container {
  /*
  display: block;
  */
  position: relative;
  text-align: center;
  background: url('../resources/img/agustinus-nathaniel-701029-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  margin-bottom: 25px;



  height: 450px;
}

#title {

font-size: 70px;
color: white;
/*
width: 589px;
*/
}

#title h1 {
  position:
  color: white;
  /*
  top: 125px;
  left: 350px;
  */
  text-align: center;
  padding-top: 10px;

}

#title-3 {
  font-size: 15px;
  color: white;
  line-height: 20px;

  opacity: 0.7;
}


#title-3 p {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  color: white;
  top: 100px;
  left: 670px;
background-color: #478689;
padding: 40px 40px;

}

#title-3 a {

  
}

#image-header {
  position: absolute;
top: 189px;
left: 420px;

}

.dividers {
  background: #4A7f7f;

}


.dividers h2 {
  font-family: "Playfair Display";
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 1.5rem;
margin-bottom: 25px;
}



.container-4 {
  display: flex;
  border: 1px solid #c8cccf;
  margin: 0 30px;
  margin-bottom: 25px;
}

.box-4 {

  padding: 15px;

    border: 2px solid #c8cccf;

    flex: 1;
}

.text-4 {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #e6c374;
}

.text-report {

}

.text-list {
  display: list-item;
  padding-top: 20px;
  padding-left: 30px;
  list-style: circle;
line-height: 25px;
}

.container-5 {
  border: 1px solid #c8cccf;
  margin: 0 30px;
  margin-bottom: 25px;
}


@media only screen and (max-width: 375px) {
  #image-header {
    position: absolute;
  top: 189px;
  left: 30px;

  }

  #title-3 {
    font-size: 15px;
    color: white;
    line-height: 20px;

    opacity: 0.7;

  }


  #title-3 p {
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    color: white;
    top: 375px;
    left: 0px;
  background-color: #478689;
  padding: 40px 40px;

  }

  .container {
/*
    display: block;
*/
    position: relative;
    text-align: center;
    background: url('../resources/img/agustinus-nathaniel-701029-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    margin-bottom: 25px;



    height: 725px;
  }

  .container-4 {
    display: block;
    border: 1px solid #c8cccf;
    margin: 0 30px;
    margin-bottom: 25px;
  }

}

@media only screen and (max-width: 800px) {

  .container {
    display: block;
    text-align: center;

    height: 510px;
  }

.box-4 {
  flex:1;
}

#image-header {
position: absolute;
top: 105px;
left: 220px;

}

#title-3 {
  font-size: 15px;
  color: white;
  line-height: 20px;

  opacity: 0.7;

}


#title-3 p {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  color: white;
  top: 270px;
  left: 120px;
background-color: #478689;
padding: 40px 40px;

}


}








/* OFFICERS */

.side-1 {

}

.box-6 {
position: relative;
left: 5px;
padding: 10px 0;
line-height: 25px;
font-weight: bold;
z-index: -1;
}



.box-7 {
  position: relative;
  left: 195px;
top: -260px;
line-height: 25px;
z-index: -1;
}

.side-2 {

}

.box-8 {
  position: relative;
  padding: 15px 0;
  line-height: 25px;
  font-weight: bold;
  left: 5px;
  top: -235px;
  z-index: -1;
}

.box-9 {
  position: relative;
  left: 195px;
top: -325px;
line-height: 25px;
z-index: -1;
}

.side-3 {

}

.box-10 {
  position: relative;
  top: -275px;
  left: 5px;
  padding: 15px 0;
  line-height: 25px;
  font-weight: bold;
  z-index: -1;
}

.box-11 {
  position: relative;
  left: 185px;
  top: -465px;
  line-height: 25px;
  z-index: -1;
}

.side-4 {

}

.box-12 {
  position: relative;
  top: -405px;
  left: 5px;
  padding: 15px 0;
  line-height: 25px;
  font-weight: bold;
  z-index: -1;
}

.box-13 {
  position: relative;
  left: 195px;
top: -595px;
line-height: 25px;
z-index: -1;
}

.side-5 {

}

.box-14 {
  position: relative;
  top: -515px;
  left: 5px;
  padding: 15px 0;
  line-height: 25px;
  font-weight: bold;
  z-index: -1;
}

.box-15 {
  position: relative;
  left: 195px;
top: -730px;
line-height: 25px;
z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .side-1 {

  }

  .box-6 {
  position: relative;
  font-size: 18px;
  left: 30px;
  padding: 10px 0;
  line-height: 25px;
  font-weight: bold;
  z-index: -1;
  }


  .box-7 {
    position: relative;
    font-size: 18px;
    left: 245px;
  top: -260px;
  line-height: 25px;
  z-index: -1;
  }

  .side-2 {

  }

  .box-8 {
    position: relative;
    font-size: 18px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    left: 470px;
    top: -550px;
    z-index: -1;
  }

  .box-9 {
    position: relative;
    font-size: 18px;
    left: 590px;
  top: -640px;
  line-height: 25px;
  z-index: -1;
  }

  .side-3 {

  }

  .box-10 {
    position: relative;
    font-size: 18px;
    top: -415px;
    left: 30px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-11 {
    position: relative;
    left: 245px;
    top: -605px;
    line-height: 25px;
    z-index: -1;
  }

  .side-4 {

  }

  .box-12 {
    position: relative;
    top: -555px;
    left: 30px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-13 {
    position: relative;
    left: 245px;
  top: -745px;
  line-height: 25px;
  z-index: -1;
  }

  .side-5 {

  }

  .box-14 {
    position: relative;
    top: -1250px;
    left: 470px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-15 {
    position: relative;
    left: 590px;
  top: -1465px;
  line-height: 25px;
  z-index: -1;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1281px){
  .side-2 {

  }

  .box-8 {
    position: relative;
    font-size: 18px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    left: 420px;
    top: -550px;
    z-index: -1;
  }

  .box-9 {
    position: relative;
    font-size: 18px;
    left: 535px;
  top: -640px;
  line-height: 25px;
  z-index: -1;
  }

  .side-3 {

  }

  .box-10 {
    position: relative;
    font-size: 18px;
    top: -755px;
    left: 740px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-11 {
    position: relative;
    left: 895px;
    top: -945px;
    line-height: 25px;
    z-index: -1;
  }

  .side-4 {

  }

  .box-12 {
    position: relative;
    top: -835px;
    left: 5px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-13 {
  position: relative;
  left: 245px;
  top: -1025px;
  line-height: 25px;
  z-index: -1;
  }

  .side-5 {

  }

  .box-14 {
    position: relative;
    top: 245px;
    left: -1025px;
    padding: 15px 0;
    line-height: 25px;
    font-weight: bold;
    z-index: -1;
  }

  .box-15 {
    position: relative;
    left: 5px;
  top: -1025px;
  line-height: 25px;
  z-index: -1;
  }
}
